@import "../css/reset.css";
@import "../css/common.css";
/* body */

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header > .sns {
  max-width: 1903px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #28211c;
  height: 42px;
  padding-right: 48px;
}
header > .sns li {
  padding-left: 18px;
}
header > .sns li:hover i {
  color: rgba(255, 105, 0, 1);
}
.nav_wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav_wrap.show {
  background-color: #fff;
}
.nav_wrap .logo_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}
.nav_wrap h1 {
  padding: 20px 0;
}
.nav_wrap h1 a {
}
.nav_wrap h1 a img {
  width: 80px;
}
.nav_wrap .nav {
  display: flex;
}
.nav_wrap .nav li {
  padding: 12px 18px;
}
.nav_wrap .nav li a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}
.nav_wrap .nav.show li a {
  color: #000;
}
.nav_wrap .nav li .show {
  display: none;
  position: absolute;
  top: 180px;
  background-color: #28211c;
  padding: 20px 18px;
  letter-spacing: 2px;
  line-height: 1.4;
}
.nav_wrap .nav li:hover .show {
  display: block;
}
.nav_wrap .nav li:last-child {
  position: relative;
  right: -640px;
  cursor: pointer;
}
.nav_wrap .nav.show li:last-child i {
  color: #000;
}
/* footer */
footer {
  background-color: #28211c;
}
footer .footer_widget_wrap {
  display: flex;
  max-width: 1248px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 34px 0 0;
  margin-bottom: 80px;
}
footer .footer_widget_wrap .img_wrap {
  width: 143px;
  height: 78px;
}
footer .footer_widget_wrap .img_wrap img {
  width: 100%;
  height: 100%;
}
.footer_widget_wrap aside {
}
.footer_widget_wrap aside ul {
}
.footer_widget_wrap aside ul li {
  margin-top: 20px;
  font-size: 17px;
}
.footer_widget_wrap aside ul li a:hover {
  color: #db9457;
}
.footer_widget_wrap .follow_wrap {
}
.footer_widget_wrap .follow_wrap h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.footer_widget_wrap .follow_wrap .follow_sns {
  display: flex;
  justify-content: space-around;
}
.footer_widget_wrap .follow_wrap i {
  font-size: 30px;
  cursor: pointer;
}
.footer_widget_wrap .follow_wrap i:hover {
  color: #db9457;
}
.footer_info_wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
  letter-spacing: 1.2;
}
.footer_info_wrap .footer_text {
  font-size: 10px;
  color: #fff;
  margin-bottom: 40px;
}
