/* Magazin main */
.main-wrapper {
  max-width: 100%;
  width: 1248px;
  margin: 0 auto;
  padding-top: 170px;
}
.primary-wrapper {
  height: 3170px;
  padding: 24px 0;
  display: flex;
}
.primary-wrapper .primary {
  /* max-width: calc(100% - 348px - 24px); */
  width: 876px;
  margin-right: 24px;

  height: 100%;
}
.primary .masonry {
  padding: 12px;
  max-width: 414px;
  background-color: #fff;
}
.primary .post-masonry {
  /* width: 100%; */
}
.masonry .post-img-wrap {
  margin: 0 auto;
  max-width: 384px;
  width: 100%;
}
.masonry .post-img-wrap > a {
}
.masonry .post-img-wrap > a img {
  display: block;
  width: 100%;
  height: 256px;
}
.masonry .categori {
  text-align: center;
  margin: 44px 0 24px;
}
.masonry .categori > a {
  color: #db9457;
  padding: 0 8px 2px;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 600;
}

/* sidebar */
.primary-wrapper .sidebar-archives {
  max-width: 100%;
  width: 348px;
  height: 100%;
  background-color: powderblue;
}
